

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }} </title>
</head>
<style type="text/css">
 *{
     padding: 0;
     margin: 0;


 }
 .big_box{
     background: url('./img?name=zdna.jpg');
     height: 100vh;
     background-size: cover;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size:16pt;

 }

 .small_box{
     text-align: left;
     height: 50%;
     width: 90%;
     background-color: rgba(153, 153, 0, 0.9);
     display: flex;
     justify-content: center;
     align-items: center;

 }

</style>
<body>
<div class="big_box">
<div class="small_box"><div>
<h1>Please download the decrypted metadata: </h1>
</BR></BR>

<h2>{{ title }}</h2>

<h2>{{ md5 }}</h2>

</BR>
<a href="download?md5={{md5}}">Download Decrypted Metadata</a>
    <p>{{ rlt }}</p> </br>
    <a href="./encryption">Creation of encryption key</a> </br>
<a href="./update">Update your password</a> </br>
<a href="./decryption">Decryption of encrypted NFT metadata </a></br>

    <p>{{ rlt }}</p>
    </div></div></div>
</body>
</html>
